*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    line-height: 1.4;
    font-family: 'Raleway', sans-serif;
    display: flex;
	justify-content: center;
    /*border: solid red;*/
}

a {
    color: inherit;
    text-decoration: none;
}

#container {
	width: 100%;
	max-width: 1500px;
}

.header {
        display: flex;
        justify-content: space-between;
        max-width: 1400px;
        margin-top: 20px;
}

.navbarre {
    width: 100%;
    display: flex; 
    
    flex-wrap: wrap;
    align-items: center;
    /*border: solid blue;*/
}

.figure{
    display: flex; 
    flex-grow: 1;
    margin-left: 15px;
    padding-right: 80px;
    /*border: solid green;*/
}

.imglogo {
    order:1;
    width: 95px;
    height: 45px;    
}

.anchor, .anchor1 {
    order:3;
    display: flex;
    font-weight: 500;
    margin: 0 40px;
    /*border: solid yellow;*/
    padding-left: 11px;
    padding-right: 11px; 
}

.anchor, .anchor1:hover {
    color:#0065FC;
    font-weight: bold;
    border-bottom:3px solid #0065FC;
    padding-bottom: 10px;
}

.anchor{
    margin-right: 160px;
    
}

.register {
    order: 2;
    margin-right: 10px;
    color:#0065FC;
    font-weight: 900;
    /*border: solid red;*/
}

.element:nth-child(3)
{
    order: 2;
}
